<a href="https://colab.research.google.com/github/nheske/learn-python/blob/main/efficient_python_programming_with_lambda_map_filter_and_sort/Efficient_Python_Programming_with_Lambda_Map_Filter_and_Sorted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# based on Efficient Python Programming with Lambda, Map, Filter, and Sorted at https://towardsdatascience.com/efficient-python-programming-with-lambda-map-filter-and-sorted-cfdf536afc36

In [ ]:
# Lambda 
squared = lambda x: x*x
squared(5)

In [2]:
add = lambda x, y: x+y
add(4,5)

9

In [3]:
# Map 
# The map takes lists and a function and returns the list, modified by the function
a = [3,4,5,2,7,8]
b = [7,9,2,4,5,1]
c = [5,7,3,4,5,9]
add(a,b)
# typical element-wise add of two lists
res = []
for i in range(0, len(a)):
    res.append(a[i]+ b[i])
res

[10, 13, 7, 6, 12, 9]

In [4]:
# Map works exactly like a ‘for loop’
list(map(add, a, b))

[10, 13, 7, 6, 12, 9]

In [5]:
list(map(lambda x, y: x+y, a, b))

[10, 13, 7, 6, 12, 9]

In [6]:
list(map(lambda x, y, z: x+y+z, a, b, c))

[15, 20, 10, 10, 17, 18]

In [7]:
list(map(lambda x, y, z: 2*x + 2.5*y + z, a, b, c))

[28.5, 37.5, 18.0, 18.0, 31.5, 27.5]

In [ ]:
# Filter
# The filter takes a list as an argument and a function as the expression

In [10]:
# Filter to only greater than 5
c = [4,2,9,6,10,4,1]
list(filter(lambda x: x > 5, c))

[9, 6, 10]

In [11]:
# filter to those divisible by two
a = [3,4,5,2,7,8]
list(filter(lambda x: x % 2==0, a))

[4, 2, 8]

In [14]:
# Filter to start with A
names = ['Abram', 'Arib', 'Bob', 'Shawn', 'Aria', 'Cicilia', 'John']
list(filter(lambda x: x[0]=='A', names))

['Abram', 'Arib', 'Aria']

In [15]:
# Sorted
sorted(names, key=lambda x: x[0])

['Abram', 'Arib', 'Aria', 'Bob', 'Cicilia', 'John', 'Shawn']

In [19]:
sorted(names)
sorted(names, reverse=True)

['Bob', 'Arib', 'Aria', 'John', 'Abram', 'Shawn', 'Cicilia']

In [26]:
# key sorting 
# Raymond Hettinger Transforming Code into Beautiful, Idiomatic Python https://www.youtube.com/watch?feature=player_embedded&v=OSGv2VnC0go
# https://speakerdeck.com/pyconslides/transforming-code-into-beautiful-idiomatic-python-by-raymond-hettinger-1
# https://github.com/JeffPaine/beautiful_idiomatic_python and 
len_sorted = sorted(names, key=len)
print('len_sorted=',len_sorted)
# take the second element for sort
def take_second(elem):
    return elem[1]
second_letter_sorted = sorted(names, key=take_second)    
print('second_letter_sorted=',second_letter_sorted)

len_sorted= ['Bob', 'Arib', 'Aria', 'John', 'Abram', 'Shawn', 'Cicilia']
second_letter_sorted= ['Abram', 'Shawn', 'Cicilia', 'Bob', 'John', 'Arib', 'Aria']

In [30]:
# Map on a dictionary
dict_a = [{'name': 'John', 'age': 12},{'name': 'Sonia', 'age': 10},{'name': 'Steven', 'age': 13},{'name': 'Natasha', 'age': 9}]
# just get the names
list(map(lambda x: x['name'], dict_a))

['John', 'Sonia', 'Steven', 'Natasha']

In [31]:
# just get the ages
list(map(lambda x: x['age'], dict_a))

[12, 10, 13, 9]

In [32]:
# ages sorted
sorted(list(map(lambda x: x['age'], dict_a)))

[9, 10, 12, 13]

In [33]:
# sort the whole dictionary by age
sorted(dict_a, key=lambda x: x['age'])

[{'age': 9, 'name': 'Natasha'},
 {'age': 10, 'name': 'Sonia'},
 {'age': 12, 'name': 'John'},
 {'age': 13, 'name': 'Steven'}]

In [34]:
# get youngest
sorted(dict_a, key=lambda x: x['age'])[0]

{'age': 9, 'name': 'Natasha'}

In [35]:
# oldest's info
sorted(dict_a, key=lambda x: x['age'])[-1]

{'age': 13, 'name': 'Steven'}

In [36]:
# decending age
sorted(dict_a, key=lambda x: x['age'], reverse =True)

[{'age': 13, 'name': 'Steven'},
 {'age': 12, 'name': 'John'},
 {'age': 10, 'name': 'Sonia'},
 {'age': 9, 'name': 'Natasha'}]

In [37]:
# sort by alpha names
sorted(dict_a, key=lambda x: x['name'])

[{'age': 12, 'name': 'John'},
 {'age': 9, 'name': 'Natasha'},
 {'age': 10, 'name': 'Sonia'},
 {'age': 13, 'name': 'Steven'}]

In [38]:
# children over 10
list(filter(lambda x: x['age'] > 10, dict_a))

[{'age': 12, 'name': 'John'}, {'age': 13, 'name': 'Steven'}]

In [40]:
# ages in 3 years
list(map(lambda x: x['age']+3, dict_a))

[15, 13, 16, 12]